apiVersion: v1
kind: Secret
metadata:
  name: "mobile-client-service-binding-secret"
  namespace: "{{ namespace }}"
  labels:
    name: "mobile-client-service-binding-secret"
    secretType: mobile-client-binding-secret
    mobile: enabled