apiVersion: v1
kind: Secret
metadata:
  name: {{ mobile_developer_console_secret_name }}
  namespace: {{ namespace }}
  labels:
    name: mdc-server
    mobile: enabled
    serviceName: mdc-server
    serviceInstanceID: {{ _apb_service_instance_id }}
stringData:
  type: "{{ mobile_developer_console_secret_name }}"
  name: "{{ mobile_developer_console_secret_name }}"
  uri: "{{ mobile_developer_console_protocol}}://{{ mobile_developer_console_route.route.spec.host }}"
