apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ mobile_developer_console_sa_name }}
  annotations:
    serviceaccounts.openshift.io/oauth-redirectreference.mcs: '{"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"Route","name":"mdc-server"}}'
