apiVersion: v1
kind: Secret
metadata:
  name: "mcs-server-binding-secret"
  namespace: "{{ namespace }}"
  labels:
    name: "mcs-server-binding-secret"
    secretType: mobile-client-binding-secret
    mobile: enabled