apiVersion: v1
kind: Secret
metadata:
  name: "mdc-server-binding-secret"
  namespace: "{{ namespace }}"
  labels:
    name: "mdc-server-binding-secret"
    secretType: mobile-developer-binding-secret
    mobile: enabled